<div class="field">
    <label class="label">{{label}}</label>
    <div class="control">
        <input class="input" [formControl]="control" [ngClass]="{'is-danger': showErrors()}" />
    </div>
    <ng-container>
        @if (showErrors()) {
        @if (control.errors?.['required']) {
        <div class="help is-danger">
            Values is required.
        </div>
        }

        @if (control.errors?.['minlength']) {
        <div class="help is-danger">
            Values must be longer
        </div>
        }

        @if (control.errors?.['maxlength']) {
        <div class="help is-danger">
            Values must be shorter
        </div>
        }

        @if (control.errors?.['pattern']) {
        <div class="help is-danger">
            Invalid format
        </div>
        }
        }
    </ng-container>
</div>